{% extends "base.html" %}
{% load url from future %}
{% block main %}

<br/>
<div class="contentTitle">Add announcement</div><br/>
	<div class="pageContent">
<!-- announcement form  -->
<form action="/announcements/add_announcement/" method="post">
	<div>
        You add announcement as: {{user.username}}<br/>
		Title: 
		<input id="announcementTitle" type="text" name="title" value="" /><br/>
		<br/>
		
		<textarea id="announcementText">
		
		</textarea>
		<br/>
	<input name="alist" value="tag1" />
	<input name="alist" value="tag2" />
	<input  name="alist" value="tag3" />
    <br/>
	<br/>
	<input id="submitButton" type="submit" value="Submit"><br/>
	<br/>
	</div>
</form>
</div>
	   
{% endblock %}
