{% extends "base.html" %}
{% load url from future %}
{% block main %}



<br/>
<div class="contentTitle">Add announcement</div><br/>
	<div class="pageContent">
<!-- announcement form  -->
<form action="/announcements/add_announcement/" method="post">
	<div>
        You add announcement as: {{user.username}}<br/>
		Title: 
		<input id="announcementTitle" type="text" name="title" value="" /><br/>
		<br/>
		
		<textarea id="announcementText" name="content">
		
		</textarea>
		<br/>
		<div id="tag_list_div"></div>
		<script src="{{ STATIC_URL }}add_tags.js" type="text/javascript"></script>
		<script type="text/javascript">initTags()</script>

<!--	<input name="tag_list" value="tag1" />
	<input name="tag_list" value="tag2" />
	<input name="tag_list" value="tag3" /> -->

    <br/>
	<br/>
	<input id="submitButton" type="submit" value="Submit"><br/>
	<br/>
	</div>
</form>
</div>
	   
{% endblock %}
