{% extends "base.html" %}
{% load url from future %}
{% block main %}

<br>
<div class="contentTitle">Announcement</div>
<div class="pageContent">
<br/>
    <br/>
	<p> [<a href="/transactions/offer_exchange/{{announcement.id}}"> Offer exchange </a>] </p>
    <div class="smallTitle">{{ announcement.getTitle }}</div>
	<p>Tags: {% for tag in announcement.getTags %} 
	{% if tag.name != "" %}
		{{tag.name}},
	{% endif %}	
	{% endfor %}</p>
    <div class="pageContent">
	
    {% if announcement.hasMainImage %}
    <p><a href="{{ announcement.getMainImage.url }}"><img src="{{ announcement.getSmallMainImage.url }}"/></a></p>
    {% endif %}		
	
	{{ announcement.getContent }}
	<p><i>Added {{ announcement.pub_date }} by <b><a href="/users/profile/{{announcement.getAuthorLogin}}"> {{announcement.getAuthorLogin}}</a></b></i> </p>
    </div>
    <br/>
</div>
</div>
{% endblock %}
