<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <title>{% block title %}Barter{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "baseStyle.css" %} />
</head>


<body>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
	
   {{ greeting }} 	
   
		<div id="title">BarterSpot
		</div>
				
		<div id="menu">
		
            {% block nav-global %}
		<div id="loginInfo">
		{% if user.is_authenticated %}
			<l>You are logged in as {{user.username}}.</l>
		{% endif %}
		</div>
		<div id="contentBox">
		
                <!-- MENU -->                
		<div id="linkGroup">
            <div class = "link"><a href="/" class="fill-div">Main</a></div>
			{% if user.is_authenticated == False %}
            <div class = "link"><a href="/users/login" class="fill-div">Login</a></div>
			<div class = "link"><a href="/users/register" class="fill-div">Register</a></div>
			{% endif %}

            {% if user.is_authenticated %}
			<div class = "link"><a href="/users/profile/{{user.username}}" class="fill-div">Profile</a></div>
			<div class = "link"><a href="/searchPanel" class="fill-div">Search</a></div>
			<div class = "link"><a href="/announcements/add" class="fill-div">Add</a></div>
			<div class = "link"><a href="/messages" class="fill-div">Messages</a></div>
                        <div class = "link"><a href="/transactions" class="fill-div">Transactions</a></div>
			<div class = "link"><a href="/users/logout" class="fill-div">Logout</a></div>
			{% endif %}

		</div>
            {% endblock %}
	<div id="blueBox">
	{% block main %}
	{% endblock %}
	</div>
	</div>
	</div>

</body>
</html>
