<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <title>{% block title %}Barter{% endblock %}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "baseStyle.css" %} />
</head>

<body>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
   {{ greeting }}
        <div id="menu">
            {% block nav-global %}
		<div id="contentBox">
                <!-- MENU -->
                <div id="title">BarterSpot</div>
		<div id="linkGroup">
                        <div class = "link"><a href="/">Main</a></div>
			{% if user.is_authenticated == False %}
            <div class = "link"><a href="/users/login">Login</a></div>
			<div class = "link"><a href="/users/register">Register</a></div>
			{% endif %}

            {% if user.is_authenticated %}
			<div class = "link"><a href="/users/profile/{{user.username}}">Profile</a></div>
			<div class = "link"><a href="/searchPanel">Search</a></div>
			<div class = "link"><a href="/announcements/add">Add</a></div>
			<div class = "link"><a href="/users/logout">Logout</a></div>
                        <div class = "link"><a href="/messages/index">Messages</a></div>
			{% endif %}

		</div>
            {% endblock %}
	<div id="blueBox">
	{% block main %}
	{% endblock %}
	</div>
	</div>
	</div>

</body>
</html>
