
{% extends "base.html" %}
{% load url from future %}
{% block main %}

{% if user.is_authenticated %}
    <p>Hello {{ user.username }} </p>
{% endif %}

{% for announcement in announcement_list %}
    <br/>
    <div class="contentTitle">{{ announcement.getTitle }}</div>
    <div class="pageContent">
	<p>{{ announcement.getContent }}</p>
	<p>Added by <a href="/users/profile/{{announcement.getAuthorLogin}}"> {{announcement.getAuthorLogin}}</a> </p>
	<br/>	
    </div>
    <br/>
{% endfor %}

{% endblock %}
