
{% extends "base.html" %}
{% load url from future %}
{% block main %}
<div class="pageContent">
{% if user.is_authenticated %}
    <b><p>Hello {{ user.username }} </p></b>
{% endif %}
</div>

{% for announcement in announcement_list %}
    <br/>
    <div class="contentTitle">{{ announcement.getTitle }}</div>
    <div class="pageContent">
	
	<p>Added by <b><a href="/users/profile/{{announcement.getAuthorLogin}}"> {{announcement.getAuthorLogin}}</a></b> </p>
	<a href="/announcements/show/{{announcement.id}}">More</a> </br>
	<br/>	
    </div>
    <br/>
{% endfor %}

{% endblock %}
