{% extends "base.html" %}
{% load url from future %}
{% block main %}

</br>
<div class="contentTitle">Please log in below...</div>
<form action="/users/auth/" method="post">
{% csrf_token %}
<div class="pageContent">
	{% if next %}
	  <input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
		Username:
			<input id="logInput" type="text" name="username" value="{{ request.user.username}}" /><br/>
		Password:
			<input id="passInput" type="password" name="password" value=""/><br/>
			</br>
									
		<input id="submitButton" type="submit" value="Log In" /></br>
		</br>
</div>
</form>
</div>

{% endblock %}
