{% extends "base.html" %}
{% load url from future %}
{% block main %}

<br>
<div class="contentTitle">User profile</div>
<div class="pageContent">
<br/>
	<b>Login: </b> {{barter_user.username}} <br/>
	<b>First name: </b> {{barter_user.first_name}} <br/>
	<b>Last name: </b> {{barter_user.last_name}} <br/>
	<b>Email: </b> {{barter_user.email}} <br/>
	<b>City: </b> {{barter_user.city}} <br/>
	<br/>
	<br/>
	Announcements added by this user: <br/>
	
	{% for announcement in ann_list %}
    <br/>
    <div class="smallTitle">{{ announcement.title }}</div>
    <div class="pageContent">
	{% if user.is_authenticated %}
            {% if user.username != announcement.user.username %} 
        <p> <u><a href="/transactions/offer_exchange/{{announcement.id}}"> Offer exchange </a></u> </p>
	    {% endif %}
        {% endif %}
        <p id="short_ann_{{announcement.id}}"> {{announcement.getShortenContent}}
	<p>{{ announcement.content }}</p>
	<p><i>{{ announcement.pub_date }}</i></p>
        {% if user.username == announcement.user.username %}
        <p><b><a href="/announcements/remove/{{ announcement.id }}">remove</a></b></p>
        {% endif %}
    </div>
    <br/>
{% endfor %}
	<br/>
</div>
</div>
{% endblock %}
