{% extends "base.html" %}
{% load url from future %}
{% block main %}
</br>
<div class="contentTitle">{{ state }}</div>
<form action="/users/add/" method="post">
	<div class="pageContent">
	  {% if next %}
	  <input type="hidden" name="next" value="{{ next}}" />
	  {% endif %}
	  Username:
		<input type="text" id="logInput" name="username" value="" /><br/>
	  First Name:
		<input type="text" id="nameInput" name="first_name" value="" /><br/>
	  Last Name:
		<input type="text" id="nameInput" name="last_name" value="" /><br/>
	  City:
		<input type="text" id="cityInput" name="city" value="" /><br/>
	  Password:
		<input type="password" id="passInput" name="password" value=""/><br />
	  Email:
		<input type="text" id="mailInput" name="email" value=""/><br/>
	  <br/>
		<input type="submit" id="submitButton" value="Register" /><br/>
	  <br/>
	</div>
</form>
	   
{% endblock %}
